- var title = "A2Lego"

html
	head
		title= title
		link(rel="stylesheet" href="/build/css/main.min.css")
	body
		header.header
			div.container
				nav.menu
					ul.menu-items
						li.menu-item
							h1.title A2
								span.red Lego
					p.sub-title Uma biblioteca de componentes visuais que podem ser integrados de forma rápida em qualquer projeto.
			section.container 
