// COLORS

$primary-color: #333;
$secondary-color: #fff;
$header-bg-color: #494DA1;

$yellow: #EAB64D;
$red: #FF4545;
$blue: #0AA0F6;
$green: #28CC9E;

// WEIGHT

$thin: 300;
$normal: 400;
$bold: 600;
$extra-bold: 900;

