- var title = "Ecommerce Footer"
html
	head
		title= title
		include ../../partials/style.pug
		link(rel="stylesheet" href="style.min.css")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	body
		include ../../partials/header.pug
		footer.footer
			nav.footer-nav
				ul.footer-nav-list
					li.footer-nav-list-item.title 
						a.link(href="#") Categories
					li.footer-nav-list-item 
						a.link(href="#") Category 1
					li.footer-nav-list-item 
						a.link(href="#") Category 2
					li.footer-nav-list-item
						a.link(href="#") Category 3
					li.footer-nav-list-item
						a.link(href="#") Category 4
					li.footer-nav-list-item
						a.link(href="#") Category 5
			nav.footer-nav
				ul.footer-nav-list
					li.footer-nav-list-item.title
						a.link(href="#") Help
					li.footer-nav-list-item
						a.link(href="#") FAQ's
					li.footer-nav-list-item
						a.link(href="#") Return Policy
					li.footer-nav-list-item
						a.link(href="#") Shipping and Delivery
			nav.footer-nav
				ul.footer-nav-list
					li.footer-nav-list-item.title
						a.link(href="#") My Account
					li.footer-nav-list-item
						a.link(href="#") Sign in
					li.footer-nav-list-item
						a.link(href="#") Order Status
					li.footer-nav-list-item
						a.link(href="#") My Wishilist
			nav.footer-nav
				ul.footer-nav-list
					li.footer-nav-list-item.title
						a.link(href="#") About
					li.footer-nav-list-item
						a.link(href="#") Company
					li.footer-nav-list-item
						a.link(href="#") Store Locator
					li.footer-nav-list-item
						a.link(href="#") Team
					li.footer-nav-list-item
						a.link(href="#") Support
					li.footer-nav-list-item
						a.link(href="#") Contact
					li.footer-nav-list-item
						a.link(href="#") Carrer
			nav.footer-nav
				ul.footer-nav-list
					li.footer-nav-list-item.title
						a.link(href="#") Social
					li.footer-nav-list-item
						a.link(href="#") Facebook
					li.footer-nav-list-item
						a.link(href="#") Twitter
					li.footer-nav-list-item
						a.link(href="#") Instagram
					li.footer-nav-list-item
						a.link(href="#") YoutTube

